#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.line {
  text-decoration: line-through;
}
.App-wrap {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #fba1b7;
  /* background-image: linear-gradient(
    to bottom right,
    /* 
    rgb(176, 230, 95), */ /* rgb(182, 209, 147) */
  /* ); */
  border-radius: 15px;
}
.output {
  margin: 20px;
  padding: 15px;

  border-radius: 15px;
  /* background-image: linear-gradient(to bottom right, #ebe2d1, white); */
  background-color: #ffd1da;
}
.output-unedited {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 8px;
}
.output-unedited label {
  text-align: justify;
  font-size: medium;
}
.output-unedited button {
  text-align: center;
  border-radius: 5px;
  font-size: medium;
}
.output-edited form {
  display: flex;
  justify-content: center;
  gap: 15px;
}
